.container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 2rem;
    flex-direction: column;
    /* max-width: 800px;
    margin: 0 auto; */
}

/* .reviewContainer */
.formContainer {
    flex: 1;
    max-width: 800px;
    width: 100%;
    margin-top: 25px;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}